.hp::after{
    content: "\f004";
}

.attack::after{
    content: "\f05b";
}
.defense::after{
    content: "\f111";
}
.special-attack::after{
    content: "\f006";
}
.special-defense::after{
    content: "\f007";
}
.speed::after{
    content: "\f008";
}

div.type{
width: 60px;
height: 20px;
margin: 6px;
font-size: 1em;
line-height: 1em;
border-radius: 5px;
text-align: center;
text-transform: capitalize;
display: inline-block;

color:black;

background-color: #bdd4e7;
background-image: linear-gradient(180deg, #4eaaf5 50%, #e64e4e 51%);
}

div.type.normal{
    background-color: firebrick;
    color: beige;
}

div.type.water{
    background-color:aqua;
    color:black;
}
